# System files
# ------------

Icon
.DS_Store
node_modules
yarn.lock
.idea/
package-lock.json
*.cache
*.map
*.sqlite


# Storage files
# ---------------
/storage/cache/*

/storage/configuration/*
!/storage/configuration/user_setup.php

/storage/originals/*
