@font-face {
  font-family: 'kicons';
  src: url('../font/kicons.eot?85359698');
  src: url('../font/kicons.eot?85359698#iefix') format('embedded-opentype'),
       url('../font/kicons.woff?85359698') format('woff'),
       url('../font/kicons.ttf?85359698') format('truetype'),
       url('../font/kicons.svg?85359698#kicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kicon-"]:before,
[class*=" kicon-"]:before {
  font-family: 'kicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

/* social */
.kicon-email:before { content: '\e800'; }
.kicon-facebook:before { content: '\e802'; }
.kicon-gplus:before { content: '\e804'; }
.kicon-pinterest:before { content: '\e817'; }
.kicon-rss:before { content: '\e80d'; }
.kicon-tumblr:before { content: '\e81a'; }
.kicon-twitter:before { content: '\e801'; }
.kicon-vimeo:before { content: '\e803'; }
.kicon-dl:before { content: '\e81f'; }

/* publishing */
.kicon-box:before { content: '\e815'; }
.kicon-doc:before { content: '\e813'; }
.kicon-chat:before { content: '\e810'; }
.kicon-clock:before { content: '\e80e'; }
.kicon-cog:before { content: '\e814'; }
.kicon-comment:before { content: '\e80f'; }
.kicon-comment-empty:before { content: '\e811'; }
.kicon-export:before { content: '\e81d'; }
.kicon-export-alt:before { content: '\e81b'; }
.kicon-folder-empty:before { content: '\e816'; }
.kicon-forward:before { content: '\e818'; }
.kicon-heart-empty:before { content: '\e806'; }
.kicon-heart:before { content: '\e805'; }
.kicon-link:before { content: '\e819'; }
.kicon-location:before { content: '\e812'; }
.kicon-plus:before { content: '\e80b'; }
.kicon-plus-circled:before { content: '\e809'; }
.kicon-plus-squared:before { content: '\e80a'; }
.kicon-plus-squared-small:before { content: '\e81c'; }
.kicon-star:before { content: '\e807'; }
.kicon-star-empty:before { content: '\e808'; }
.kicon-tag:before { content: '\e80c'; }

/* mobile */
.kicon-mob-menu:before { content: '\e81e'; }