<!-- @BEGIN Modal Popup Template -->
<script id="modal_template" type="text/x-jquery-tmpl">
	<div class="modal-bg">
		<div class="modal-wrap">
			<div class="modal" id="modal_buttons">
				<div class="row-head">
					<a class="modal-close" href="#" title="Close"></a>
					title
				</div>
				<div class="row-center">
					<div class="w">
						<p class="intro">
							something
						</p>
					</div>
				</div>
				<div class="row-bttns">
					<div class="w">
						<div class="bttns">
							<ul class="button-row">
								<li>
									<button class="button emb lg">Cancel</button>
								</li>
								<li>
									<button class="button emb lg c0">Save</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>  
		</div>
	</div>
</script>
<!-- @END Modal Popup Template -->